[Unit]
Description=Programe Relai de la société Ktalyse


[Service]
Type=simple
WorkingDirectory=/home/relai_raspberry_rtls/src
ExecStart=/usr/bin/sudo /usr/bin/node src/relaiKtalyse.js
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
